<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/User.csdl|res://*/User.ssdl|res://*/User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoneyPredTool" connectionString="metadata=res://*/MoneyPred.csdl|res://*/MoneyPred.ssdl|res://*/MoneyPred.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoneyPred" connectionString="metadata=res://*/MoneyPredModel.csdl|res://*/MoneyPredModel.ssdl|res://*/MoneyPredModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="courseWork02.Properties.Settings.testConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Licensing" publicKeyToken="9d02e21d957ddaef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.25443" newVersion="1.0.3.25443" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Scripting" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.400" newVersion="1.0.2.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Common" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.400" newVersion="1.3.2.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Pdf" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.450" newVersion="1.3.2.450" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>